[submodule "buy-calc"]
   path = buy-calc
   url = https://github.com/xingoxu/buy-calc
[submodule "ps4-wallpaper-helper"]
  path = ps4helper
  url = https://github.com/xingoxu/ps4-wallpaper-helper
[submodule "blog-comment"]
  path = blog-comment
  url = https://github.com/xingoxu/blog-comment
[submodule "tumblr-backup"]
	path = tumblr-backup
	url = https://github.com/xingoxu/tumblr-backup
