.animation (@var) {
  -webkit-animation: @arguments;
     -moz-animation: @arguments;
      -ms-animation: @arguments;
       -o-animation: @arguments;
          animation: @arguments;
}

.keyframes(@name, @frames) {
  @-webkit-keyframes @name { @frames(); }
  @-moz-keyframes @name { @frames(); }
  @-ms-keyframes @name { @frames(); }
  @-o-keyframes @name { @frames(); }
  @keyframes @name { @frames(); }
}

.transition (@var) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}
.transform (@var) {
  -webkit-transform: @arguments;
     -moz-transform: @arguments;
      -ms-transform: @arguments;
       -o-transform: @arguments;
          transform: @arguments;
}

//color
@white-color: #fff;

html {
  font-size: 62.5%;//10px
}
body {
  font-family: PingFang SC,Source Han Sans SC,Noto Sans CJK SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,sans-serif;
  font-size: 1.2rem; //12px
  margin: 0;
}
h1 {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}
input[type=text] {
  -webkit-appearance: none;
}
:focus {
  outline: 0;
}
.top {
  // &:after {
  //   content: '';
  //   display:block;
  //   clear:both;
  // }
}
.app-title {
  img {
    height: 105px;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}
.app-title-inputs {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 200px;
  p,h3,ul {
    margin: 0;
    padding: 0;
  }
  p {
  }
  section {
    background: @white-color;

    padding: 15px;
    box-sizing: border-box;
    line-height: 25px;
    line-height: 2.5rem;

    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    ul {
      list-style: none;
      li {

      }
    }
    input[type=text] {
      border: 1px solid #ccc;
      border-radius: 3px;
      line-height: 18px;
      line-height: 1.8rem;
      width: 75%;
    }
    input[type=radio]{
      margin: 0 5px 0 0;
    }
    .item-input-label {
      display: block;
    }
    .item-input-unit {
      display: inline-block;
      width: 15%;
    }
    input[name=itemKind]{
      position: absolute;
      top: 5px;
      left: -20px;
    }
    //switch
    &>div.switch{
      display: inline-block;
      width: 20px;
      height: 20px;
      float: right;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAAA3NCSVQICAjb4U/gAAAAWlBMVEXG2+T6/f3V5+ze7fHy+Pr////Z6u/J3ubb5+3O2+PP4OfN2+Pb6/DN3+bg7PHe6/DY6e7////K3eXf7vLX6e7N3eX7/f3N3+f1+vvP3eTf7fH////L3+fd5+3aVKFSAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADA2LzEyLzE2GhynFQAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAABHSURBVAiZY2AFAUZGEMkAZjPwIdiiPNjZvAJgthibMBsbJxMbMzMzA4cMEEiCADuDmBiLmBgvEyOjhBh+c4REEGwOJDdAAABiGQSZ/RFirQAAAABJRU5ErkJggg==) no-repeat center;
    }
    &.itemKind-inputs {
      ul {
        li {
          label{
            display: block;
            position: relative;
            margin-left: 20px;
          }
        }
      }
      &.open {

      }
    }
  }
}
.table-wrapper {
  table {
    width: 100%;
  }
}
